body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  padding: 10px;
  background-color: #0072ff;
  border-bottom: 1px solid #999999;
  align-items: center;
  justify-content: center;
}

 a{
  display: flex;
  color: #00a2ff;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 5px;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.header a:hover{
  color: #ee121d;
}
